---
---

@import "{{ site.theme }}";

$green: #63A87B;
$blue: #3A5566;
$light-blue: #A6B2BA;
$brown: #3D3A31;
$medium-brown: #82807B;
$light-brown: #BBBAB7;
$very-light-brown: #E0E0DF;

h1, h2, h3, h4, h5 {
  color: $green !important;
}

a {
  color: $blue !important;
}

table {
  margin-top: 0.5em !important;
  font-size: 0.9em !important;
}

/**
 * code style
 */
pre {
  background-color: $brown !important;
}
code {
  font-size: 0.9em !important;
  background-color: $very-light-brown !important;
  color: $brown !important;
  font-family: "Monaco", "Consolas", monospace !important;
}

pre > code {
  font-size: 1.05em !important;
  background-color: $brown !important;
  color: $light-brown !important;
}

.err {
  color: $green !important;
  background-color: $brown !important;
}

.language-json * .err {
  color: $medium-brown !important;
}

// normal stuff
.nx {
  color: $light-brown !important;
}

// keywords
.k, .kr, .kc {
  color: $green !important;
}

.nb {
  color: $green !important;
}

// comments
.cm, .c1 {
  color: $medium-brown !important;
}

// punctuation
.p, .o {
  color: $very-light-brown !important;
}

// strings
.s1, .s2, .mi {
  color: $green !important;
}

// keys
.nt, .na {
  color: $light-blue !important;
}
