---
---

@import "{{ site.theme }}";

$green: #63A87B;
$blue: #3A5566;
$light-blue: #A6B2BA;
$brown: #3D3A31;
$medium-brown: #82807B;
$light-brown: #BBBAB7;
$very-light-brown: #E0E0DF;
$font-color: #808080;

section.main-content {
  color: $font-color;
  font-weight: 300;
  width: 100%;
  float: none;

  ol li p a {
    font-size: 1.25em;
  }

  ol li ul {
    font-size: 0.8em;
  }

  h1, h2, h3 {
    color: $green;
  }
  h4 {
    color: $brown;
  }
  h5 {
    color: $font-color;
  }

  a {
    color: $blue;
  }

  a[href^="#"] {
    text-decoration: none;
    color: inherit;
  }

  table {
    margin-top: 0.5em;
    font-size: 0.9em;
  }

  pre {
    background-color: $brown;
  }
  code {
    font-size: 0.9em;
    background-color: $very-light-brown;
    color: $brown;
    font-family: "Monaco", "Consolas", monospace;
  }

  pre > code {
    font-size: 1.05em;
    background-color: $brown;
    color: $light-brown;
  }

  .err {
    color: $green;
    background-color: $brown;
  }

  .language-json .err {
    color: $medium-brown;
  }

  // normal stuff
  .nx, .nl {
    color: $light-brown;
  }

  // keywords
  .k, .kr, .kc {
    color: $green;
  }

  .nb {
    color: $green;
  }

  // comments
  .cm, .c1 {
    color: $medium-brown;
  }

  // punctuation
  .p, .o {
    color: $very-light-brown;
  }

  // strings
  .s1, .s2, .mi {
    color: $green;
  }

  // keys
  .nt, .na {
    color: $light-blue;
  }
}
